<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form method="post" action="user" class="form-group">
        <label>Username
            <input type="text" name="username">
        </label>
        <label>Email
            <input type="email" name="email">
        </label>
        <label>Password
            <input type="password" name="password">
        </label>
        <label>Verify Password
            <input type="password" name="verifyPassword">
        </label>
        <input type="submit" value="Add User" name="submit-btn">
    </form>
</body>
</html>